<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a class="active" th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>	
										<th>No.</th>
										<th>제목</th>
										<th>카테고리</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="List:${BoardList}">
										<td th:text="${List.boardNo}"></td>
										<td><a th:href="@{/board-detail(boardNo=${List.boardNo},categoryNo=${List.bcvo.categoryNo})}" th:text="${List.boardTitle}"></a></td>
										<td th:text="${List.bcvo.categoryName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="no-result" th:unless="${total}>0">커뮤니티 글을 작성하지 않으셨네요! <br>커뮤니티 게시판을 이용해보세요!<span><i class='far fa-sad-cry' style='font-size:24px'></i></span></h2>
					<div class="pagination-box">
						<ul th:if="${total>0}" class="pagination-wrap">
							 <th:block th:if ="${pagination.previousPageGroup }">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mastermypage-cart(pageNo=${pagination.startPageOfPageGroup-1})}" th:text="|이전|">Previous</a>
							     </li>   
							 </th:block>
							  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
							 	<th:block th:if="${pageNo==pagination.nowPage}">
							 		<li class="page-item active">
							 			<a class="page-link" th:href="@{/mastermypage-cart(pageNo=${pageNo})}" th:text="${pageNo}"></a>
							 		</li>
						    	</th:block>
						    	<th:block th:if="${pageNo!=pagination.nowPage}">
						    		  <li class="page-item">
						    		  	<a class="page-link" th:href="@{/mastermypage-cart(pageNo=${pageNo})}" th:text="${pageNo}"></a>
					    		  	</li>
						    	</th:block>
						    </th:block>
					      <th:block th:if ="${pagination.nextPageGroup}">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mastermypage-cart(pageNo=${pagination.endPageOfPageGroup+1})}" th:text="|다음|"></a>
							     </li> 
							 </th:block>
    						</ul>
    					</div>
					</div>
				</div>