<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
					
					
						<div class="total-order mt-20">
							<h4>내 정보 수정하기</h4>
							<div class="table-responsive">
								<div class="media-body user-update">
									<form method="post" th:action="@{/updateMaster}" enctype="multipart/form-data"id="Write">
										<div>
											<span class="mypage-info">자기 소개  :</span>
											<textarea name="specifications" id="specifications" required="required" th:value="${masterDetail.specifications}" th:text="${masterDetail.specifications}"></textarea><br>
										</div>
										<div><span class="mypage-info">아이디 :</span><input type="email" name="id" placeholder="이메일" th:value="${member.id}" readonly></div>
										<div><span class="mypage-info">비밀번호  :</span><input type="text" name="password" placeholder="패스워드" required="required"></div>
										<div><span class="mypage-info">이름 :</span><input type="text" name="name" 	th:value="${member.name}" placeholder="이름" required="required"> </div>
										<div><span class="mypage-info">주소 :</span> <input type="text" 	name="address" 	th:value="${member.address}" placeholder="주소" required="required"></div>
										<div><span class="mypage-info">핸드폰 번호 :</span><input type="text"  name="tel"  th:value="${member.tel}" placeholder="핸드폰 번호" required="required"></div>
										<div><span class="mypage-info">경력 :</span><input type="text" name="career" placeholder="경력" required="required" th:value="${masterDetail.career}"></div>
										<div><span class="mypage-info">프로필 이미지 변경하기 </span><input multiple="multiple" type="file" value="파일 선택" name="file" id="checkFile"/></div>
										<div><input type="button" value="회원정보수정" onclick="check()" class="mypage-update-btn"></div>
									</form>
								</div>
							</div>
						</div>
							

					</div>
							
							
						

		<script type="text/javascript">
		function check() {
			if (document.getElementById("checkFile").value == "") {
				alert("파일을 업로드 해주세요");
				return;
			}else {
				document.getElementById("Write").submit();
			}
		}
		</script>
</div>