<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a class="active" th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
					<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-4">고객 이름</th>
										<th class="col-md-4">상담 날짜</th>
										<th class="col-md-4"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="Booking:${Booking}">
										<td><a class="col-md-4" th:text="${Booking.mvo.name}"></a></td>
										<td class="col-md-4" th:text="${Booking.bookingDay}"></td>
										<td><a th:href="@{/mastermypage-consult-detail(BookingNo=${Booking.bookingNo})}">상담내용 보기</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="no-result" th:unless="${total}>0">상담을 신청한 회원님이 없어요! <br>신청을 할 때까지 기다려주세요!<span><i class='far fa-sad-cry' style='font-size:24px'></i></span></h2>
						<div class="pagination-box">
						<ul th:if="${total>0}" class="pagination-wrap">
							 <th:block th:if ="${pagination.previousPageGroup }">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mastermypage-consult(pageNo=${pagination.startPageOfPageGroup-1})}" th:text="|이전|">Previous</a>
							     </li>   
							 </th:block>
							    
							  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
							 	<th:block th:if="${pageNo==pagination.nowPage}">
							 		<li class="page-item active">
							 			<a class="page-link" th:href="@{/mastermypage-consult(pageNo=${pageNo})}" th:text="${pageNo}"></a>
							 		</li>
						    	</th:block>
						    	
						    	<th:block th:if="${pageNo!=pagination.nowPage}">
						    		  <li class="page-item">
						    		  	<a class="page-link" th:href="@{/mastermypage-consult(pageNo=${pageNo})}" th:text="${pageNo}"></a>
					    		  	</li>
						    	</th:block>
						    </th:block>
							    
					      <th:block th:if ="${pagination.nextPageGroup}">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mastermypage-consult(pageNo=${pagination.endPageOfPageGroup+1})}" th:text="|다음|"></a>
							     </li> 
							 </th:block>
    						</ul>
    					</div>
					</div>
				</div>