<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-non}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<div layout:fragment="main">
	<div class="survey-wrap container pt-4">

		<!--/*   
			컨트롤러에서  
			카테고리 넘버를 key/ 카테고리 이름을 value 값으로 설정한 map을 사용한다. 
			
			<div th:each="region : ${regions}" class="form-check form-check-inline">
			        <input type="checkbox" th:field="*{regions}" th:value="${region}"  class="form-check-input">
			        <label th:for="${#ids.prev('regions')}"   th:text="${region.value}" class="form-check-label">서울</label>
   			 </div>
   */-->
		<!--/*   1번째 고수 카테고리 페이지 */-->

		<div class="survey-content">	
	
			<form action="" method="post" th:action="@{/masterRegisterGo}">
				<ul id="slides2">
					<li>
						<p>1. 어떤 서비스를 제공할 수 있나요?</p>
						<input type="hidden" th:name="id" th:value="${id}">
						 <div th:each="cate: ${category}" th:if="${cate.categoryNo>0}">				
							<input  type="radio"  th:name="categoryNo" th:text="${cate.lessonSort}" th:value="${cate.categoryNo}"> 
						</div> 
						 <div >				
							<input class="slides2Career"  type="number"  th:name="career" placeholder="경력" required="required"> 
						</div> 
						 <div >					
							<textarea class="slidesTextarea"  placeholder="경력사항을 자유롭게 기술해주세요!" th:name="specifications"  required="required" ></textarea>
						</div> 
						<div class="slides2BtnBox">
						<button  class="slides2Btn" type="submit">다음 ></button>
						</div>
					</li>
				</ul>
			</form>
		</div>
	

		<!--/*   2번째 고수 디테일카테고리  */-->


	</div>
</div>
</html>