<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	
	
					
					<!-- ---------------------- -->
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					
				
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="total-order mt-20">
							<div class="table-responsive">
								<div class="media-body">
									<ul class="user-profile-list">
										<li>
											<pre th:text="${masterDetail.specifications}"style="background-color: white; border-color:white;"></pre>
										</li>
									
									</ul>
									
									
									
									
									<form method="get" th:action="@{/masterUpdateForm}">
                             			 <input type="submit"value="회원정보 수정하기"  class="master-update-btn">
                             			 </form>
								</div>
								</div>
								</div>
								</div>
								
								<!-- ---------------------- -->	
                           			
							
						
				

	
</div>