<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 정보</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="|../images/${masterList.id}/${masterList.imageVO.imageName}|" alt="Image">
						</div>
						<div class="media-body master-info-intro">
							<h2 class="media-heading" th:text="${masterList.name}">고수</h2>
									
							<div class="master-info-box">
								<span class="media-heading" th:each="re:${reAGV1}" th:text="|평점 : ${re.score}점|">평점</span>
								<span class="media-heading" th:text="|경력 : ${masterList.career} 년|"></span>
							</div>
							
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center ">
						<li><a class="active" th:href="@{/surveyFindMasterById(masterId=${masterList.id})}">고수정보</a></li>
						<li><a th:href="@{/reviewForMember(masterId=${masterList.id})}">리뷰</a></li>
						<li>
							<form th:action="@{/messageForm}">
								<input type="hidden" name="receiveId" th:value="${masterList.id}">
								<input type="hidden" name="masterId" th:value="${masterList.id}">
								<button class="master-for-member-btn" type="submit">메세지 보내기</button>
							</form>
						</li>
						<li>
							<form th:action="@{/bookingForm}">
								<input type="hidden" name="masterId" th:value="${masterList.id}"> 
								<input type="hidden" name="masterName" th:value="${masterList.name}"> 
								<button class="master-for-member-btn" type="submit">상담 신청하기</button>
							</form>
						</li>
					</ul>
					
					
					
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="total-order mt-20">
							<div class="table-responsive">
								<div class="media-body">
									<h2> 고수 소개</h2>
									<ul class="user-profile-list">
										<li>
											<pre th:text="${masterList.specifications}"style="background-color: white; border-color:white;"></pre>
										</li>
										
										
									</ul>
									
									

								</div>
								</div>
								</div>
								</div>
													
				</div>
			</div>
					
					
		</div>
	</section>
</div>
</html>