<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">커뮤니티 게시판</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">community search</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="search-keyword" th:text="|' ${searchKeyword} ' 에 대한 검색 결과입니다|"></h2>
        
        <div class="communityBoard dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">No.</th>
                  <th class="col-md-5 text-center">제목</th>
                  <th class="col-md-1 text-center">작성자</th>
                  <th class="col-md-1 text-center">조회수</th>
                  <th class="col-md-1 text-center">좋아요</th>
                </tr>
              </thead>
              <tbody >
                <tr th:each="list:${keyword}">
                  <td class="text-center"> <a href="" th:text=${list.boardNo}>No부분</a></td>
                  <td class="text-center"> <a class="board-list" th:href="@{/board-detail(boardNo=${list.boardNo},categoryNo=${list.bcvo.categoryNo})}" th:text=${list.boardTitle} >제목부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.mvo.name}>작성자부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.hits}>조회수부분</a></td>
                  <td class="text-center"> <i class="fa fa-thumbs-o-up"></i> <a href="" th:text=${list.likes}>좋아요부분</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </section>