<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">상담 신청하기</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="user-dashboard page-wrapper">
		  <div class="container">
			<form method="post" id="Write" th:action="@{/bookingGo}">
			<input type="hidden" name = "pageNo">
			<input type="hidden" name = "masterId" th:value="${masterId}" >
				<table class="table">
					<tr>
						<td>
							<span th:text="|${masterName} 고수님에게 상담신청|"></span>
						</td>
					</tr>
					<tr>
						<td >
							<textarea rows="10" class="form-control" name="bookingContent" 
								placeholder="본문내용" required="required">
							</textarea>
						</td>
					</tr>
					<tr>
						<td>
							
			
			<p>Date: <input type="text" id="datepicker" name="bookingDay"></p>
						</td>
					</tr>
				</table>
							<div class="text-center">
				<button type="submit" >확인</button>
				<button type="reset" class="btn btn-success">취소</button>
			</div>
			</form>

			<span th:text="${Day}"></span>

		</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
			  <script type="text/javascript"  th:inline="javascript">

  $( function() {
    $( "#datepicker" ).datepicker({ 
    	  changeMonth:true,
          changeYear:true,
          yearRange:"2022:2025",
          showOn:"both",      
          buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
          dateFormat: 'yy-mm-dd',
          showOtherMonths: true,
          selectOtherMonths: true,
          showMonthAfterYear: true,
          dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
          monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
          monthNames: ['년 1월','년 2월','년 3월','년 4월','년 5월','년 6월','년 7월','년 8월','년 9월','년 10월','년 11월','년 12월'],
          nextText: '다음 달',
          prevText: '이전 달',
          beforeShowDay: disableAllTheseDays 
    });
  } );

//특정날짜들 배열

  var disabledDays =[[${Day}]];
	alert(disabledDays)
	
  // 주말(토, 일요일) 선택 막기
  function noWeekendsOrHolidays(date) {
      var noWeekend = jQuery.datepicker.noWeekends(date);
      return noWeekend[0] ? [true] : noWeekend;
  }
   
  // 일요일만 선택 막기
  function noSundays(date) {
    return [date.getDay() != 0, ''];
  }
   
  // 이전 날짜들은 선택막기
  function noBefore(date){
      if (date < new Date())
          return [false];
      return [true];
  }
   
  // 특정일 선택막기
  function disableAllTheseDays(date) {
      var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
      for (i = 0; i < disabledDays.length; i++) {
          if($.inArray(y + '-' +(m+1) + '-' + d,disabledDays) != -1) {
              return [false];
          }
      }
      return [true];
  }
  

  </script>

	</section>
</div>




</html>
