<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">커뮤니티 게시판</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">community board</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <div class="searchAllBox">
			<form class="searchBox1 searchBox" action="get" th:action="@{/searchBoardKeyword}">
					<i class='fas fa-highlighter' style='font-size:24px'></i>
					<input type="search" class="form-control"
						placeholder="'제목'으로 검색해보세요!" name="keyword">
					<button type="submit"> 검색</button>
			</form>
			<form class="searchBox2 searchBox" action="get" th:action="@{/searchBoardKeywordByName}">
					<i class='fas fa-street-view' style='font-size:24px'></i>
					<input type="search" class="form-control"
						placeholder="'작성자'로 검색해보세요!" name="keyword">
					<button type="submit"> 검색</button>
			</form>
		</div>
		
		 <ul id="cateBtn" class="list-inline dashboard-menu text-center">
          <li ><a  th:href="@{/goCommunity(categoryNo=1)}" >꿀팁</a></li>
          <li  ><a th:href="@{/goCommunity(categoryNo=2)}">추천</a></li>
          <li  ><a  th:href="@{/goCommunity(categoryNo=3)}" >나눔</a></li>
        </ul>
		
        <form class="writeBtnForm" th:action="@{/writeForm}" method="get">
					<button class="WriteBtn" type="submit">글쓰기</button>
		</form>
		
        <div class="communityBoard dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">카테고리</th>
                  <th class="col-md-0 text-center">No.</th>
                  <th class="col-md-6 text-center">제목</th>
                  <th class="col-md-0 text-center">작성자</th>
                  <th class="col-md-0 text-center">조회수</th>
                  <th class="col-md-1 text-center">좋아요</th>
                </tr>
              </thead>
              <tbody >
                <tr th:each="list:${CategoryList}">
                  <td class="text-center"> <a href="" th:text=${list.bcvo.categoryName}>카테고리종류</a></td>
                  <td class="text-center"> <a href="" th:text=${list.boardNo}>No부분</a></td>
                  <td class="text-center"> <a class="board-list" th:href="@{/board-detail(boardNo=${list.boardNo},categoryNo=${list.bcvo.categoryNo},nowPage=${pagination.nowPage})}" th:text=${list.boardTitle} >제목부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.mvo.name}>작성자부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.hits}>조회수부분</a></td>
                  <td class="text-center"> <i class="fa fa-thumbs-o-up"></i> <a href="" th:text=${list.likes}>좋아요부분</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
    	<ul class="pagination-wrap">
          <th:block th:if ="${pagination.previousPageGroup }">
    		 <li class="page-item" >
    		 		<a class="page-link" th:href="@{/returnList(pageNo=${pagination.startPageOfPageGroup-1},categoryNo=${CategoryList.get(0).bcvo.categoryNo})}" th:text="|이전|">Previous</a>
    		 </li> 
     	 </th:block>
    
 		 <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
		 		<th:block th:if="${pageNo==pagination.nowPage}">
		 			<li class="page-item active">
		 				<a class="page-link" th:href="@{/returnList(pageNo=${pageNo},categoryNo=${CategoryList.get(0).bcvo.categoryNo})}" th:text="${pageNo}"></a>
		 			</li>
		    	</th:block>
		    	
		    	<th:block th:if="${pageNo!=pagination.nowPage}">
		    		 <li class="page-item">
		    		 	<a class="page-link" th:href="@{/returnList(pageNo=${pageNo},categoryNo=${CategoryList.get(0).bcvo.categoryNo})}" th:text="${pageNo}"></a>
		    		 </li>
		    	</th:block>
   		</th:block>
    
     	 <th:block th:if ="${pagination.nextPageGroup}">
    			 <li class="page-item" >
    			 		<a class="page-link" th:href="@{/returnList(pageNo=${pagination.endPageOfPageGroup+1},categoryNo=${CategoryList.get(0).bcvo.categoryNo})}" th:text="|다음|"></a>
    			 </li> 
      	</th:block>
      	
    
    </ul>
  </div>
 
  </section>

</div>
</html>