<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

<section class="user-dashboard page-wrapper">

  <div class="container">
 
      <span th:text="|${count} 명의 검색 결과|"></span>
      
    <div class="table-responsive">
    <form action="" th:action="@{/addCart}">
                     <table class="table" th:if="${total>0}">
                        <thead>
                           <tr>
                              <th class="col-md-2 text-center" >고수 이미지</th>
								<th class="col-md-2 text-center"></th>
								<th class="col-md-5 text-center">고수 정보</th>
								<th class="col-md-2 text-center">북마크</th>
                           </tr>
                        </thead>
                        
                        <tbody>
                       		
                           <tr th:each="list:${masterList}"  class="cart-list" >
                             
                              <td class="cart-img">
                              	<img id="find-master-img" th:src="|../images/${list.id}/${list.imageVO.imageName}|">
                               </td>
                              <td class="master-info-wrap"> 
                                 <div class="info-wrap">
                                 	<a th:href="@{/surveyFindMasterById(masterId=${list.id})}" >
                                 		<span th:text="${list.name} " class="col-md-3 master-name find-master-name" >고수 이름</span>
                                 	</a> 
                                 	<span class="star_1 fa master-star" >&#xf005</span>
                                 	<div th:each="s:${score}">
                                 	
                                 	<span class="master-score" th:text="${s.score}" th:if="${s.msvo.id}==${list.id}"> 4.5점</span>           
                                 	
                                 	</div>
                              
                                 </div>
                                 </td>
                                 <td class="col-md-5 text-center">
                                 <pre class="info-detail" th:text="${list.specifications}">
                                    
                                 </pre>
                              		</td>
                              
                              
                              <td class="text-center add-cart">      
                              		<input type="hidden" name="id" th:value="${list.id}">
                              		<!-- <input type="hidden" name="categoryNo" th:value="${categoryNo}"> -->
                              		<input type="hidden" name="categoryNo" th:value="${list.category.categoryNo}">
                              		<button id="find-master-add-cart" type="submit" class="bi bi-bookmark " style="background-color: white;border-color: white;" name="masterId" 
                              		th:value="${list.id}" th:if="${!#lists.contains(cartList,list.id)}"></button>   
                              		<button id="find-master-add-cart" class=" bi bi-bookmark-fill" disabled="disabled" style="background-color: white;border-color: white;" name="masterId" 
                              		th:value="${list.id}" th:if="${#lists.contains(cartList,list.id)}"></button>                  
                                    
                              </td>                             	
                           </tr>                         
                        </tbody>                     
                     </table>
                      </form>
                      <h2 th:if="${total==0}">조건에 맞는 고수의 정보가 없습니다.</h2>
                      <div class="pagination-box">
                      <ul class="pagination-wrap" th:if="${total>0}">
      <th:block th:if ="${pagination.previousPageGroup }">
     <li class="page-item" ><a class="page-link" th:href="@{/findMasterList(pageNo=${pagination.startPageOfPageGroup-1},skills=${skills},times=${times},days=${days},categoryNo=${categoryNo})}" th:text="|이전|">Previous</a></li> 
     
    </th:block>
    
  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
 	
 	<th:block th:if="${pageNo==pagination.nowPage}">
 
    		  <li class="page-item active"><a class="page-link" th:href="@{/findMasterList(pageNo=${pageNo},skills=${skills},times=${times},days=${days},categoryNo=${categoryNo})}" th:text="${pageNo}"></a></li>
    	</th:block>
    	<th:block th:if="${pageNo!=pagination.nowPage}">
    		  <li class="page-item"><a class="page-link" th:href="@{/findMasterList(pageNo=${pageNo},skills=${skills},times=${times},days=${days},categoryNo=${categoryNo})}" th:text="${pageNo}"></a></li>
    	</th:block>
    </th:block>
    
      <th:block th:if ="${pagination.nextPageGroup}">
     <li class="page-item" ><a class="page-link" th:href="@{/findMasterList(pageNo=${pagination.endPageOfPageGroup+1},skills=${skills},times=${times},days=${days},categoryNo=${categoryNo})}" th:text="|다음|"></a></li> 
     
    </th:block>
     </ul>
     </div>
                  </div>
  </div>
  
  
</section>
</div>