<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

<section class="user-dashboard page-wrapper">

  <div class="container">
 
     
    <div class="table-responsive">
    <form action="" th:action="@{/addCart}">
                     <table class="table">
                        <thead>
                           <tr>
                              <th class="col-md-3 " ></th>
                              <th class="col-md-7 "></th>
                              <th class="col-md-2 "></th>
                           </tr>
                        </thead>
                         
                        <tbody>
                       
                           <tr th:each="list:${masterList}">
                             
                              <td ><img th:src="|../images/${list.id}/${list.imageVO.imageName}|"> <td>
                              <td > 
                                 <div>
                                 <a th:href="@{/surveyFindMasterById(masterId=${list.id})}" ><span th:text="${list.name}" class="col-md-3" >고수 이름</span></a> <span th:text="|${list.reviewVO.score} 점|"> 4.5점</span>
                                 </div>
                                 <div>
                                    <span th:text="${list.specifications}"></span>
                                 </div>
                              
                              </td>
                              <td class="text-center">                          		
                              		<input type="hidden" name="id" th:value="${list.id}">
                              		<!-- <input type="hidden" name="categoryNo" th:value="${categoryNo}"> -->
                              		<input type="hidden" name="categoryNo" th:value="${list.category.categoryNo}">
                              		<button type="submit" class="bi bi-bookmark" style="background-color: white;border-color: white;" name="masterId" th:value="${list.id}"></button>
                              	
                              
                                    
                              </td>                             	
                           </tr>                         
                        </tbody>                     
                     </table>
                      </form>
                  </div>
  </div>
  
  
</section>
</div>