<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row find-form-wrap" >

				<div class="col-md-5  find-form-content">
					<div class="category-box ">
						<a th:href="@{/findMaster(categoryNo=1)}"> <img
							src="./images/music.jpg" alt=""  class="find-master-img" />
							<div class="content">
								<h3 class="lesson-sort">음악</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-5 find-form-content">
					<div class="category-box">
						<a th:href="@{/findMaster(categoryNo=2)}"> <img
							src="./images/sport.jpg" alt=""  class="find-master-img" />
							<div class="content">
								<h3 class="lesson-sort">운동</h3>
							</div>
						</a>
					</div>
				</div>



				<div class="col-md-5 find-form-content">
					<div class="category-box ">
						<a th:href="@{/findMaster(categoryNo=3)}"> <img
							src="./images/art.jpg" alt=""  class="find-master-img" />
							<div class="content">
								<h3 class="lesson-sort">미술</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-5 find-form-content">
					<div class="category-box">
						<a th:href="@{/findMaster(categoryNo=4)}"> <img
							src="./images/languages.png" alt="" class="find-master-img" />
							<div class="content">
								<h3 class="lesson-sort">외국어</h3>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>