<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body master-info-intro">
							<h2 class="media-heading" th:text="${member.name}">고수</h2>
							<span class="media-heading skill-box" th:text="|분야 : ${Mycategory.lessonSort}|"></span>
							<span class="skill-box">
								<span> 보유기술 : </span>
								<span th:each="ms:${MySkills}" class="media-heading" th:text=" ${ms.skills}"></span>
							</span>	
									
							<div class="master-info-box">
								<span>평점</span>
								<span class="media-heading" th:text="|경력 : ${masterDetail.career} 년|"></span>
							</div>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="total-order mt-20">
							<div class="table-responsive">
								<div class="media-body">
									<ul class="user-profile-list">
										<li>
											<pre th:text="${masterDetail.specifications}"style="background-color: white; border-color:white;"></pre>
										</li>
									
									</ul>
									
									
									
									
									<form method="get" th:action="@{/masterUpdateForm}">
                             			 <input type="submit"value="회원정보 수정하기"  class="master-update-btn">
                             			 </form>
								</div>
								</div>
								</div>
								</div>
									
                           			
							
						
				
				</div>
			</div>
		</div>
	</section>
</div>