<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a class="active" th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-7" th:text="|${Booking.mvo.name} 님|" >고객 이름 </th>
										<th><a th:href="@{mastermypage-message-detail(receiveID=${Booking.mvo.id},receiveName=${Booking.mvo.name})}">메세지함 이동</a></th>
									</tr>
								</thead>
								<tbody class="consult-content">
									<tr >
										<td th:text="${Booking.bookingContent}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>