<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
						<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/고수.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" th:text="${member.name}"></h2>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a class="active" th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail message-detail-wrap">

                  <div class="table-responsive message-content">
                     <h2 th:text="|${receiveName}님과의 대화|">대화 상대 이름 </h2> 
                     <a  th:href="@{mastermypage-message}">메세지 리스트로 가기</a>
                     <div class="message-bg">
                        <th:block th:each="message:${messageDetail}">
                           <div>
                              <pre th:text="${message.messageContent}">대화 내용</pre><div th:text="${message.receiveDate}"> 메세지 시간 </div>
                           </div>
                        </th:block>
                     </div>
                        <div>
                           <form th:action="@{/sendMessage}" method="post">
                           	  <input type="hidden" name="receiveId" th:value="${receiveID}">
                           	  <input type="hidden" name="receiveName" th:value="${receiveName}">
                              <textarea class="message-textarea" name="messageContent" placeholder="메세지를 입력하세요"></textarea>
                              <input type="submit" value="전송">
                           </form>
                        </div>
                  </div>
               </div>
				</div>
			</div>
		</div>
	</section>

</div>