<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/고수.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">고수</h2>
							<p>Hi im Gosu</p>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
						<div class="total-order mt-20">
							<h4>고수 회원정보 수정</h4>
							<div class="table-responsive">
								<div class="media-body">
									<ul class="user-profile-list">
							<form th:action="@{/updateMaster}" method="post">
							<textarea name="specifications" required="required" th:value="${masterDetail.specifications}" th:text="${masterDetail.specifications}"></textarea><br>
							<input type="text" name="id" placeholder="아이디" readonly="readonly" th:value="${member.id}"><br>
							<input type="text" name="password" placeholder="패스워드" required="required"><br>
							<input type="text" name="name" placeholder="이름" required="required" th:value="${member.name}"><br>
							<input type="text" name="address" placeholder="주소" required="required" th:value="${member.address}"><br>
							<input type="text" name="tel" placeholder="전화번호" required="required" th:value="${member.tel}"><br>
							<input type="text" name="career" placeholder="경력" required="required" th:value="${masterDetail.career}"><br>
							<!-- <input type="text" name="specifications" placeholder="스펙" required="required" th:value="${masterDetail.specifications}"><br>
							 -->
							 <input type="submit" value="회원정보 수정">
								</form>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</section>
</div>