<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/고수.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">고수</h2>
							<p>Hi im Gosu</p>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a href="">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="total-order mt-20">
							<h4>고수 상세정보</h4>
							<div class="table-responsive">
								<div class="media-body">
									<ul class="user-profile-list">
<!-- 									<li><span>아이디 : </span><span sec:authentication="principal.id"></span></li>
										<li><span>비밀번호 : </span><span sec:authentication="principal.password"></li>
										<li><span>이름 : </span><span sec:authentication="principal.name"></span></li>
										<li><span>주소 : </span><span sec:authentication="principal.address"></span></li>
										<li><span>핸드폰 번호 : </span><span sec:authentication="principal.tel"></span></li>
 -->									
 										<pre th:text="${masterDetail.specifications}">
 										</pre>
									
									</ul>
									<form method="get" th:action="@{/masterUpdateForm}">
                             			 <input type="submit"value="회원정보 수정하기" >
                           			</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>