<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/고수.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">고수</h2>
							<p>Hi im Gosu<br>
								안녕하세요 아이유입니다<br>
								이 곳은 고수 한줄 소개입니다
							</p>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" href="dashboard.html">고수정보</a></li>
						<li><a href="">리뷰</a></li>
						<li><a href="">내가 쓴 글</a></li>
						<li><a href="">상담신청내역</a></li>
						<li><a href="">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="total-order mt-20">
							<h4>고수 스펙,경력</h4>
							<div class="table-responsive">
								<div class="media-body">
									<ul class="user-profile-list">
										<li><span>스펙 : </span>국힙 원탑</li>
										<li><span>경력 : </span>10년</li>
										<!-- <li><span>Email:</span>mail@gmail.com</li>
										<li><span>Phone:</span>+880123123</li>
										<li><span>Date of Birth:</span>Dec , 22 ,1991</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>