<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
						<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}"alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" th:text="${member.name}"></h2>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a class="active" th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="messge-list">
						<div th:each="message:${messageList}">
							<div >
								<a th:href="@{/mastermypage-message-detail(receiveID=${message.sendMvo.id},receiveName=${message.sendMvo.name})}">
									<img class="media-object message-img" alt="Image" th:src="${message.imageVo.imageName}"align="bottom">
									<span th:text="|${message.sendMvo.name}님|">바보</span></a>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>

</div>
</html>