<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">고수 마이페이지</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" th:text="${member.name}"></h2>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a th:href="@{/mastermypage}">고수정보</a></li>
						<li><a class="active" th:href="@{/mastermypage-review}">리뷰</a></li>
						<li><a th:href="@{/mastermypage-cart}">내가 쓴 글</a></li>
						<li><a th:href="@{/mastermypage-consult}">상담신청내역</a></li>
						<li><a th:href="@{/mastermypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>고객 이름</th>
										<th>평점</th>
										<th>고객 리뷰</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="rv:${review}">
										<td th:text="${rv.mvo.name}"></td>
										<td th:text="|${rv.score}점|"></td>
										<td th:text="${rv.reviewContent}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>