<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/일반회원.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">손석구</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Unde, iure, est. Sit mollitia est maxime! Eos cupiditate
								tempore, tempora omnis. Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Enim, nihil.</p>
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a class="active" href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a href="address.html">내가 쓴 글</a></li>
						<li><a href="profile-details.html">내 상담목록</a></li>
						<li><a href="profile-details.html">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Company</th>
										<th>Name</th>
										<th>Address</th>
										<th>Country</th>
										<th class="col-md-2 col-sm-3">Phone</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Nokia</td>
										<td>Adam Smith</td>
										<td>9/4 C Babor Road, Mohammad Pur, Dhaka</td>
										<td>Bangladesh</td>
										<td>+884 5452 6452</td>
										<td>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default">
													<i class="tf-pencil2" aria-hidden="true"></i>
												</button>
												<button type="button" class="btn btn-default">
													<i class="tf-ion-close" aria-hidden="true"></i>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>Adam Smith</td>
										<td>9/4 C Babor Road, Mohammad Pur, Dhaka</td>
										<td>Bangladesh</td>
										<td>+884 5452 6452</td>
										<td>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default">
													<i class="tf-pencil2" aria-hidden="true"></i>
												</button>
												<button type="button" class="btn btn-default">
													<i class="tf-ion-close" aria-hidden="true"></i>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>Motorola</td>
										<td>Adam Smith</td>
										<td>9/4 C Babor Road, Mohammad Pur, Dhaka</td>
										<td>Bangladesh</td>
										<td>+884 5452 6452</td>
										<td>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default">
													<i class="tf-pencil2" aria-hidden="true"></i>
												</button>
												<button type="button" class="btn btn-default">
													<i class="tf-ion-close" aria-hidden="true"></i>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>