<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" sec:authentication="principal.name">손석구</h2>
							
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a class="active" href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
					
					
						<div class="table-responsive" th:if="${cartList}">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2 text-center" >고수 이미지</th>
										<th class="col-md-7 text-center">고수 정보</th>
										<th class="col-md-2 text-center">북마크</th>
									</tr>
								</thead>
								
								<tbody >
									<tr th:each="list:${cartList}" class="cart-list">
										
										<td class="cart-img" >
											<img class="" th:src="${list.imageVo.imageName}" alt="Image">
										</td>
										<td class="master-info-wrap"> 
											<div class="info-wrap" >
											
												<a th:href="@{/surveyFindMasterById(masterId=${list.mvo.id})}" >
	                                 				<span class="master-name" th:text="${list.mvo.name}">고수 이름</span>
	                                 			</a> 
												
												<span class="star_1 fa master-star">&#xf005</span>
												<span class="master-score" th:text="${list.score}">고수 평점</span>
											</div>
											<pre th:text="${list.msvo.specifications}" class="info-detail">
												고수 상세 정보 들이 여기 잔뜩 나와야함 고수 상세 정보 들이 여기 잔뜩 나와야함 고수 상세 정보 들이 여기 잔뜩 나와야함
											</pre>
										</td>
										<td class="text-center add-cart" > 
												<a th:href="@{/delete-cart(masterId=${list.mvo.id})}"><i class="bi bi-bookmark-fill"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							
							<h2 class="no-result" th:unless="${totalCart}>0">아직 찜한 고수님이 없네요! <br>원하는 고수를 '찜' 해보세요!<span><i class='far fa-sad-cry' style='font-size:24px'></i></span></h2>
							<div class="pagination-box">
							<ul class="pagination-wrap" th:if="${totalCart}>0">
							 <th:block th:if ="${pagination.previousPageGroup }">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mypage-cart(pageNo=${pagination.startPageOfPageGroup-1})}" th:text="|Previous|">Previous</a>
							     </li>   
							 </th:block>
							    
							  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
							 	<th:block th:if="${pageNo==pagination.nowPage}">
							 		<li class="page-item active">
							 			<a class="page-link" th:href="@{/mypage-cart(pageNo=${pageNo})}" th:text="${pageNo}"></a>
							 		</li>
						    	</th:block>
						    	
						    	<th:block th:if="${pageNo!=pagination.nowPage}">
						    		  <li class="page-item">
						    		  	<a class="page-link" th:href="@{/mypage-cart(pageNo=${pageNo})}" th:text="${pageNo}"></a>
					    		  	</li>
						    	</th:block>
						    </th:block>
							    
					      <th:block th:if ="${pagination.nextPageGroup}">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mypage-cart(pageNo=${pagination.endPageOfPageGroup+1})}" th:text="|Next|"></a>
							     </li> 
							 </th:block>
    						</ul>
    					</div>
						</div>
					
					
					</div>
				</div>
			</div>
		</div>
	</section>

</div>