<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/일반회원.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" pd-t30>손석구</h2>
							
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a class="active" href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a href="profile-details.html">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-3 " ></th>
										<th class="col-md-7 "></th>
										<th class="col-md-2 "></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="list:${cartList}">
										
										<td >이미지</td>
										<td > 
											<div>
												<span th:text="${list.mvo.name}">고수 이름</span> <span th:text="${list.score}">고수 평점</span>
											</div>
											<div th:text="${list.msvo.specifications}">
												고수 상세 정보 들이 여기 잔뜩 나와야함 고수 상세 정보 들이 여기 잔뜩 나와야함 고수 상세 정보 들이 여기 잔뜩 나와야함
											</div>
										</td>
										<td class="text-center">
												<a href=""><i class="bi bi-bookmark"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>