<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" sec:authentication="principal.name">손석구</h2>

						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html" th:href="@{/mypage}">회원정보</a></li>
						<li><a href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a class="active" th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					<div
						class="dashboard-wrapper user-dashboard profile-detail message-detail-wrap">

						<div class="table-responsive message-content">
							<h2 th:text="${receiveName}">대화 상대 이름</h2>
							<a th:href="@{/mypage-message}">메세지 리스트로 가기</a>

							<div class="message-bg">
								<ul class="message-li">
									<th:block th:each="message:${messageDetail}">
										<li>
											<div class="plz">
												<pre class="mypage-message" th:text="${message.messageContent}" >대화 내용</pre>
												<div th:text="${message.receiveDate}">메세지 시간</div>
												<span class="hidden receiveId" th:text="${message.reMvo.id}" ></span>
												<span class="hidden MyId"  th:text="${sendId}" ></span>
											</div>
										</li>
									</th:block>
								</ul>
							</div>
							<div>
								<form
									th:action="@{/sendMessage(receiveId=${receiveId},sendId=${sendId},receiveName=${receiveName})}"
									method="post">
									<textarea class="message-textarea" name="messageContent"
										placeholder="메세지를 입력하세요"></textarea>
									<input type="submit" value="전송">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script type="text/javascript">
			//내가 받은 메세지 일 경우 오른쪽에 아닐경우엔 왼쪽에 위치하는 클래스를 추가한다
			$(function(){
				$(".message-li li").each(function( index, element ) {
					if($(this).find('.receiveId').text()!=$(this).find('.MyId').text()){
						$(this).find('.plz').addClass('my-message');
					}
					
				});
			});
			
				
/* 				
				if ($("#receiveId-check").text() == $("#sendId-check").text()) {
					$("#message-check").addClass("my-message");
				} else {
					$("#message-check").addClass(".receive-message");
				}
			}); */
			

			  
		</script>
	</section>
</div>