<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/member-layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	

					
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a  href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a class="active" th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a  th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2 text-center" >NO.</th>
										<th class="col-md-6 text-center">제목</th>
										<th class="col-md-2 text-center">카테고리</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list:${wroteList}">
										<td class="text-center" th:text="${list.boardNo}">Nokia</td>
										<td class="text-center"  ><a th:href="@{/board-detail(boardNo=${list.boardNo},categoryNo=${list.bcvo.categoryNo})}" th:text="${list.boardTitle}">Adam Smith</a></td>
										<td class="text-center" th:text="${list.bcvo.categoryName}">9/4 C Babor Road, Mohammad Pur, Dhaka</td>
									</tr>
									
								</tbody>
							</table>
							
							<h2 class="no-result" th:unless="${totalWrote}>0">아직 작성하신 글이 없네요! <br> 커뮤니티에 여러분의 지식을 나눠주세요! <span><i class='far fa-sad-cry' style='font-size:24px'></i></span></h2>
							<div class="pagination-box">
							<ul class="pagination-wrap" th:if="${totalWrote}>0">
							 <th:block th:if ="${pagination.previousPageGroup }">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mypage-wrote(pageNo=${pagination.startPageOfPageGroup-1})}" th:text="|Previous|">Previous</a>
							     </li>   
							 </th:block>
							    
							  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
							 	<th:block th:if="${pageNo==pagination.nowPage}">
							 		<li class="page-item active">
							 			<a class="page-link" th:href="@{/mypage-wrote(pageNo=${pageNo})}" th:text="${pageNo}"></a>
							 		</li>
						    	</th:block>
						    	
						    	<th:block th:if="${pageNo!=pagination.nowPage}">
						    		  <li class="page-item">
						    		  	<a class="page-link" th:href="@{/mypage-wrote(pageNo=${pageNo})}" th:text="${pageNo}"></a>
					    		  	</li>
						    	</th:block>
						    </th:block>
							    
					      <th:block th:if ="${pagination.nextPageGroup}">
							     <li class="page-item" >
							     	<a class="page-link" th:href="@{/mypage-wrote(pageNo=${pagination.endPageOfPageGroup+1})}" th:text="|Next|"></a>
							     </li> 
							 </th:block>
							</ul>
							</div>
							
							
						</div>
					</div>
					


</div>
