<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" src="./images/일반회원.jpg"
								alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" pd-t30>손석구</h2>
							
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a  href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a class="active" th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="table-responsive">
							<h2 th:text="${receiveName}">대화 상대 이름 </h2> 
							<a  th:href="@{/mypage-message}">메세지 리스트로 가기</a>
							<div>
								<th:block th:each="message:${messageDetail}">
									<div>
										<pre th:text="${message.messageContent}">대화 내용</pre><div th:text="${message.receiveDate}"> 메세지 시간 </div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>