<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading" sec:authentication="principal.name">손석구</h2>
						
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html"  th:href="@{/mypage}">회원정보</a></li>
						<li><a  href="order.html" th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a  class="active"  th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">
					
					<h2 class="review-form-title">리뷰 작성하기</h2>
						<div class="review-write-form">
							<form th:action="@{/mypage-reviewWrite(masterId=${masterId})}" method="post"  id="Write">
								<div class="select-wrap">
									<select name="score"  id="scoreStar" class="title_line grade all_star ">
										 <option value="" class='fas fa-star' >평점 선택하기</option>                           
						                  <option value="1" class="star_1 fa">&#xf005</option>
						                  <option value="2" class="star_2 fa">&#xf005 &#xf005</option>
						                  <option value="3" class="star_3 fa">&#xf005 &#xf005 &#xf005</option>
						                  <option value="4" class="star_4 fa">&#xf005 &#xf005 &#xf005 &#xf005</option>
						                  <option value="5" class="star_5 fa">&#xf005 &#xf005 &#xf005 &#xf005 &#xf005</option>
									</select>
								</div>
								
								<div class="textarea-content">
									<textarea name="reviewContent" id="reviewContent"></textarea>
								</div>
								
								<button class="review-form-btn" type="button" onclick="check()">작성하기</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
		function check() {
			if (document.getElementById("scoreStar").value == "") {
				alert("카테고리를 선택해 주세요");
				return;
			}else if(document.getElementById("reviewContent").value == ""){
				alert("리뷰를 입력해주세요");
				return;
			}else {
				document.getElementById("Write").submit();
			}
		}

	</script>
		
	</section>
	

</div>
</html>