<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">마이페이지</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">my account</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="media">
						<div class="pull-left profile">
							<img class="media-object user-img" th:src="${src}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading " sec:authentication="principal.name">손석구</h2>
							
						</div>
					</div>
					<ul class="list-inline dashboard-menu text-center">
						<li><a class="active" th:href="@{/mypage}">회원정보</a></li>
						<li><a th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a href="profile-details.html">메세지함</a></li>
					</ul>
					<div class="dashboard-wrapper user-dashboard profile-detail">

						<div class="total-order mt-20">
							<h4>내 정보 수정하기</h4>
							<div class="table-responsive">
								<div class="media-body user-update">
									<form method="post" th:action="@{UpdateMember}" enctype="multipart/form-data"id="Write">
										<div><span class="mypage-info">아이디 :</span><input type="email" name="id" placeholder="이메일" th:value="${member.id}" readonly></div>
										<div><span class="mypage-info">비밀번호  :</span><input type="text" name="password" placeholder="패스워드" required="required"></div>
										<div><span class="mypage-info">이름 :</span><input type="text" name="name" 	th:value="${member.name}" placeholder="이름" required="required"> </div>
										<div><span class="mypage-info">주소 :</span> <input type="text" 	name="address" 	th:value="${member.address}" placeholder="주소" required="required"></div>
										<div><span class="mypage-info">핸드폰 번호:</span><input type="text"  name="tel"  th:value="${member.tel}" placeholder="핸드폰 번호" required="required"></div>
										<div><span class="mypage-info">프로필 이미지 변경하기 </span><input multiple="multiple" type="file" value="파일 선택" name="file" id="checkFile"/></div>
										<div><input type="button" value="회원정보수정" onclick="check()" class="mypage-update-btn"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
		<script type="text/javascript">
		function check() {
			if (document.getElementById("checkFile").value == "") {
				alert("파일을 업로드 해주세요");
				return;
			}else {
				document.getElementById("Write").submit();
			}
		}
		</script>
		
	</section>

</div>
</html>