<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">Q&A 게시판</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    
        <form class="qnaBtnForm" th:action="@{/QnAWriteFrom}" method="get" sec:authorize="!hasRole('ROLE_ADMIN')">
					<button class="WriteBtn" type="submit">글쓰기</button>
		</form>

		
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-2 text-center">No.</th>
                  <th class="col-md-6 text-center">질문</th>
                  <th class="col-md-2 text-center">작성자</th>
                  
                </tr>
              </thead>
              <tbody >
                <tr th:each="list:${qnaList}">
                  <td class="text-center" th:text="${list.qnaNo}"> 
                 	 <a href="" >나오는지?</a>
                  </td>
                
                 <td  class="qnaBox text-center"> 
                 	<a th:href="@{/QnADetail(qnaNo=${list.qnaNo})}">
	                	<span class="qnaList" th:text="${list.ask}"></span>
	                  	<span class="qnaAnswer"  th:each="comList:${qnaCommentList}" th:text="${comList.qnaCommentContent}" th:if="${comList.qnaVO.qnaNo}==${list.qnaNo}"></span>
					</a>
                 </td>
                 
                  <td class="text-center" th:text="${list.memberVO.name}"> <a href="">나오는지?</a></td>             		
                </tr>
               	<tr >
               		
               	</tr>

              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
    <ul class="pagination-wrap" th:if="${total>0}">
      <th:block th:if ="${pagination.previousPageGroup }">
     <li class="page-item" ><a class="page-link" th:href="@{/QnAList(pageNo=${pagination.startPageOfPageGroup-1})}" th:text="|이전|">Previous</a></li> 
     
    </th:block>
    
  <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
 	
 	<th:block th:if="${pageNo==pagination.nowPage}">
 
    		  <li class="page-item active"><a class="page-link" th:href="@{/QnAList(pageNo=${pageNo})}" th:text="${pageNo}"></a></li>
    	</th:block>
    	<th:block th:if="${pageNo!=pagination.nowPage}">
    		  <li class="page-item"><a class="page-link" th:href="@{/QnAList(pageNo=${pageNo})}" th:text="${pageNo}"></a></li>
    	</th:block>
    </th:block>
    
      <th:block th:if ="${pagination.nextPageGroup}">
     <li class="page-item" ><a class="page-link" th:href="@{/QnAList(pageNo=${pagination.endPageOfPageGroup+1})}" th:text="|다음|"></a></li> 
     
    </th:block>
     </ul>

  </div>
</section>
</div>
</html>