<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-non}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<div layout:fragment="main">
	<div class="container pt-4 survey-wrap">
		<!--/*   thymeleaf comment    */-->
		<div class="survey-content">
			
			<form action="" method="post" th:action="@{/findMasterList}">
			<ul id="slides">
				<li >
					<p>2. 어떤 서비스를 제공할 수 있나요?</p>

					<input type="hidden" th:name="categoryNo" th:value="${categoryNo}">

					<th:block th:switch="${categoryNo}">
						<th:block th:case="1">
							<div th:each="sk: ${skills}">
								<input type="checkbox" th:name="skills" th:text="${sk.skills}"
									th:value="${sk.skillsId}"
									th:if="${sk.skillsId>0&&sk.skillsId<5}">
							</div>
						</th:block>
						<th:block th:case="2">
							<div class="surveyListBox2" th:each="sk: ${skills}">
								<input type="checkbox" th:name="skills" th:text="${sk.skills}"
									th:value="${sk.skillsId}"
									th:if="${sk.skillsId>4&&sk.skillsId<9}">
							</div>
						</th:block>
						<th:block th:case="3">
							<div class="surveyListBox2"  th:each="sk: ${skills}" >
								<input type="checkbox" th:name="skills" th:text="${sk.skills}"
									th:value="${sk.skillsId}"
									th:if="${sk.skillsId>8&&sk.skillsId<13}">
							</div>
						</th:block>
						<th:block th:case="4">
							<div class="surveyListBox3"  th:each="sk: ${skills}">
								<input  type="checkbox" th:name="skills" th:text="${sk.skills}"
									th:value="${sk.skillsId}"
									th:if="${sk.skillsId>12&&sk.skillsId<17}">
							</div>
						</th:block>
					</th:block>
				</li>



				<li>
					<p>3. 어떤 서비스를 제공할 수 있나요?</p>
					<div th:each="ti: ${times}">
						<input type="checkbox" th:name="times" th:text="${ti.times}"
							th:value="${ti.timesId}" th:if="${ti.timesId>0}">
					</div>
				</li>

				<li>
					<p>4. 어떤 서비스를 제공할 수 있나요?</p>
					<div th:each="d: ${day}">
						<input type="checkbox" th:name="days" th:text="${d.days}"
							th:value="${d.daysId}" th:if="${d.daysId>0}">
					</div>
					<button id="surveyBtn" type="submit">결과보기</button>
				</li>
				</ul>
			</form>
			
			<div id="btn_slides">
				<span class="btn_slides_prev off"></span>
				<span class="btn_slides_next"></span>
			</div>
			
		</div>
	</div>
	
	 <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script type="text/javascript">

    $('.btn_slides_next').click(function(){
        if(!$('#slides li').last().is(':visible')){
           $('#slides li:visible').hide().next('li').fadeIn('fast');
           $('.btn_slides_prev').removeClass('off');
        }

        if($('#slides li').last().is(':visible')){
           $('.btn_slides_next').addClass('off');
        }
     });





     $('.btn_slides_prev').click(function(){
        if(!$('#slides li').first().is(':visible')){
           $('#slides li:visible').hide().prev('li').fadeIn('fast');
           $('.btn_slides_next').removeClass('off');
       }
       if($('#slides li').first().is(':visible')){
          $('.btn_slides_prev').addClass('off');
       }
     });

	
	</script>

</div>
</html>