<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.lego.mapper.CartMapper">
	<insert id="addCart" parameterType="string">
		insert into cart(cart_no, id, master_id) values(cart_no_seq.nextval,#{id},#{masterId})
 	</insert>
</mapper>