<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.finalproject.lego.mapper.MasterMyPageMapper">
	<update id="updateMember" parameterType="org.kosta.finalproject.lego.vo.MemberVO">
		update member set password=#{password},name=#{name},address=#{address},tel=#{tel} where id=#{id}
	</update>
	<update id="updateMaster" parameterType="org.kosta.finalproject.lego.vo.MasterVO">
		update master set specifications=#{specifications},career=#{career} where id=#{id}
	</update>
	<select id="findMasterDetailList" resultType="org.kosta.finalproject.lego.vo.MasterVO">
   		select id,career,category_no,specifications from master where id =#{value}
   </select>
   

   <resultMap type="org.kosta.finalproject.lego.vo.BookingVO" id="BookingResult">
   		<result column="id" property="mvo.id"/>
   		<result column="name" property="mvo.name" />	
   </resultMap>

	 <resultMap type="org.kosta.finalproject.lego.vo.ReviewVO" id="ReviewResult">
   		<result column="id" property="mvo.id"/>
   		<result column="name" property="mvo.name" />	
   </resultMap>
   
   <resultMap type="BoardVO" id="BoardCategoryResultMap">
   		<result column="category_name" property="bcvo.categoryName" />
   		<result column="category_no" property="bcvo.categoryNo" />
   	</resultMap>
   	
   	<resultMap type="org.kosta.finalproject.lego.vo.MessageVO" id="MessageResult">
   		<result column="id" property="sendMvo.id"/>
   		<result column="name" property="sendMvo.name"/>
   	</resultMap>
   	
   	<resultMap type="org.kosta.finalproject.lego.vo.MessageVO" id="MemberResult">
				<result column="name" property="reMvo.name"/>
				<result column="id" property="reMvo.id"/>
		</resultMap>
   	
   <select id ="findMyBoard" resultType="org.kosta.finalproject.lego.vo.BoardVO" resultMap="BoardCategoryResultMap">
   		select b.board_no,b.board_title,c.category_name, c.category_no
		from board b, board_category c
		where b.id =#{value}
		and c.category_no = b.category_no
   	</select>
   	
   	<select id="findMyBooking" resultType="org.kosta.finalproject.lego.vo.BookingVO" resultMap="BookingResult">
	select m.*, b.*
	from member m, booking b
	where m.id = b.member_id
	and b.master_id = #{value}
	</select>
	
	<select id="findMyReview" resultType="org.kosta.finalproject.lego.vo.ReviewVO" resultMap="ReviewResult">
	select r.id, r.score, r.review_content, m.name
	from review r, member m
	where r.id = m.id
	and r.master_id = #{value}
	</select>
	
	<select id="findMyMessage" resultType="org.kosta.finalproject.lego.vo.MessageVO" resultMap="MessageResult">
	select ms.id, m.name
	from message ms, member m, master ma
	where m.id=ms.id and ma.id=#{value} and ms.receive_id = ma.id
	group by ms.id, m.name
	</select>
	
	<select id="findMyMessageDetail" resultType="org.kosta.finalproject.lego.vo.MessageVO" parameterType="org.kosta.finalproject.lego.vo.MessageVO" resultMap="MemberResult">
	select ms.message_no,ms.message_content, ms.receive_id, ms.receive_date,m.name
         from message ms, member m 
         where ms.id=#{sendMvo.id}
         and ms.receive_id=#{reMvo.id}
         and ms.receive_id=m.id
         
         union all
         
         select ms.message_no,ms.message_content, ms.receive_id, ms.receive_date,m.name
         from message ms, member m 
         where ms.id=#{reMvo.id}
         and ms.receive_id=#{sendMvo.id}
         and ms.receive_id=m.id
         
         order by receive_date asc
	</select>
	
	<insert id="masterSendMessage" parameterType="String">
	insert into message(message_no, message_content, id,receive_id,receive_date) values(message_no_seq.nextval, #{messageContent},#{sendMvo.id},#{reMvo.id},sysdate)
	</insert>
	
</mapper>