<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.finalproject.lego.mapper.MemberMyPageMapper">
		
		<update id="updateMember" parameterType="org.kosta.finalproject.lego.vo.MemberVO">
			update member set password=#{password},name=#{name},address=#{address}, tel=#{tel}
			where id=#{id}		
		</update>
		
			<resultMap type="BoardVO" id="CategoryResultMap">
				<result column="category_no" property="bcvo.categroyNo"/>
				<result column="category_name" property="bcvo.categoryName"/>
			</resultMap>
		
		<select id="findWroteList" resultMap="CategoryResultMap" resultType="org.kosta.finalproject.lego.vo.BoardVO">
			select b.board_no, b.board_title, bc.category_name
			from  board b, board_category bc
			where b.category_no=bc.category_no
			and b.id=#{value}
			order by b.board_no
		</select>

</mapper>