<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.lego.mapper.MemberMapper">
	<insert id="registerMember" parameterType="org.kosta.finalproject.lego.vo.MemberVO">
		insert into MEMBER(id,password,name,address,tel) values (#{id},#{password},#{name},#{address},#{tel})
	</insert>
	<insert id="memberRegisterRole" parameterType="org.kosta.finalproject.lego.vo.Authority">
		insert into authority(id,authority) values(#{id},#{authority})
	</insert>
	
	<select id="getCategory" resultType="org.kosta.finalproject.lego.vo.CategoryVO">
      select category_no,lesson_sort from CATEGORY
   </select>
	<select id="getDays" resultType="org.kosta.finalproject.lego.vo.DaysVO">
      select * from days
   </select>
	<select id="getSkills" resultType="org.kosta.finalproject.lego.vo.SkillsVO">
      select * from skills
   </select>
	<select id="getTimes" resultType="org.kosta.finalproject.lego.vo.TimesVO">
      select * from times
   </select>
   
 <!--   <insert id="masterRegister" parameterType="org.kosta.finalproject.lego.vo.masterDetailVO">
   <foreach collection="list" item="list" index="index" separator=", " open="INSERT ALL" close="SELECT * FROM DUAL">
   	into master_detail(id,skills_id,days_id,times_id)
   	values(#{list.Id},#{list.SkillsId},#{list.DaysId},#{list.TimesId})
   </foreach>
   </insert> -->
</mapper>