<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.finalproject.lego.mapper.MemberMyPageMapper">
		
		<update id="updateMember" parameterType="org.kosta.finalproject.lego.vo.MemberVO">
			update member set password=#{password},name=#{name},address=#{address}, tel=#{tel}
			where id=#{id}		
		</update>
		
			<resultMap type="BoardVO" id="CategoryResultMap">
				<result column="category_no" property="bcvo.categoryNo"/>
				<result column="category_name" property="bcvo.categoryName"/>
			</resultMap>
		
		<select id="findWroteList" resultMap="CategoryResultMap" resultType="org.kosta.finalproject.lego.vo.BoardVO">
			select b.board_no, b.board_title, bc.category_name,bc.category_no
			from  board b, board_category bc
			where b.category_no=bc.category_no
			and b.id=#{value}
			order by b.board_no
		</select>

		
		
		<resultMap type="org.kosta.finalproject.lego.vo.BookingVO" id="skillAndMemberResult">
				<result column="name" property="mvo.name"/>
				<result column="lesson_sort" property="cvo.lessonSort"/>
			</resultMap>

		<select id="findMyBookingList" resultMap="skillAndMemberResult" resultType="org.kosta.finalproject.lego.vo.BookingVO">
			select r.name, r.lesson_sort, b.booking_day
			from(
					select ms.id, m.name, c.lesson_sort
					from master ms, category c,member m
					where ms.category_no=c.category_no
					and m.id=ms.id) r, booking b
			where r.id=b.master_id
			and b.member_id=#{value}
		</select>
		
		<resultMap type="org.kosta.finalproject.lego.vo.ReviewVO" id="MemberAndMasterResult">
				<result column="name" property="mvo.name"/>
				<result column="specifications" property="msvo.specifications"/>
		</resultMap>
		
		<select id="findCartList" resultType="org.kosta.finalproject.lego.vo.ReviewVO" resultMap="MemberAndMasterResult">
			select nvl(round(avg(r.score)),0) as score, to_char(dbms_lob.substr(ms.specifications, 4000)) as specifications ,m.name
			from cart c, member m,review r,master ms
			where c.id=#{value}
			and c.master_id=m.id
			and c.master_id=r.master_id(+)
			and c.master_id=ms.id
			group by to_char(dbms_lob.substr(ms.specifications, 4000)),m.name
		</select>
		
		
		<resultMap type="org.kosta.finalproject.lego.vo.MessageVO" id="MemberResult">
				<result column="name" property="reMvo.name"/>
				<result column="id" property="reMvo.id"/>
		</resultMap>
		
		<select id="findMessageList" resultType="org.kosta.finalproject.lego.vo.MessageVO" resultMap="MemberResult">
			select ms.receive_id as id,m.name
			from message ms, member m
			where ms.id=#{value}
			and ms.receive_id=m.id
			group by ms.receive_id,m.name
		</select>
		
		<select id="findMyMessageDetailByMessageVO" parameterType="org.kosta.finalproject.lego.vo.MessageVO" resultMap="MemberResult" resultType="org.kosta.finalproject.lego.vo.MessageVO">
			select ms.message_no,ms.message_content, ms.receive_id, ms.receive_date,m.name
			from message ms, member m 
			where ms.id=#{sendMvo.id}
			and ms.receive_id=#{reMvo.id}
			and ms.receive_id=m.id
			
			union all
			
			select ms.message_no,ms.message_content, ms.receive_id, ms.receive_date,m.name
			from message ms, member m 
			where ms.id=#{reMvo.id}
			and ms.receive_id=#{sendMvo.id}
			and ms.receive_id=m.id
			
			order by receive_date asc
		</select>
		
</mapper>