<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.lego.mapper.MemberMapper">
	<insert id="registerMember" parameterType="org.kosta.finalproject.lego.vo.MemberVO">
		insert into MEMBER(id,password,name,address,tel) values (#{id},#{password},#{name},#{address},#{tel})
	</insert>
	<insert id="memberRegisterRole" parameterType="org.kosta.finalproject.lego.vo.Authority">
		insert into authorities(username,authority) values(#{username},#{authority})
	</insert>
	
	<select id="getCategory" resultType="org.kosta.finalproject.lego.vo.CategoryVO">
      select category_no,lesson_sort from CATEGORY
   </select>
	<select id="getDays" resultType="org.kosta.finalproject.lego.vo.DaysVO">
      select * from days
   </select>
	<select id="getSkills" resultType="org.kosta.finalproject.lego.vo.SkillsVO">
      select * from skills
   </select>
	<select id="getTimes" resultType="org.kosta.finalproject.lego.vo.TimesVO">
      select * from times
   </select>
   
   <select id="findMemberById" resultType="org.kosta.finalproject.lego.vo.MemberVO">
   		select id,password, name, address, tel
   		from member
   		where id=#{value}
   </select>
   <select id="findAuthorityByUsername" resultType="org.kosta.finalproject.lego.vo.Authority">
   		SELECT	username,authority
		FROM	authorities
		WHERE	username=#{username}
   </select>
   
   <select id="idcheck" resultType="int">
		select count(*) from member where id=#{value}
	</select>
   
</mapper>