<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.lego.mapper.SurveyMapper">

	<select id="getDays" resultType="org.kosta.finalproject.lego.vo.DaysVO">
      select * from days
   </select>
	<select id="getSkills" resultType="org.kosta.finalproject.lego.vo.SkillsVO">
      select * from skills
   </select>
	<select id="getTimes" resultType="org.kosta.finalproject.lego.vo.TimesVO">
      select * from times
   </select>
   <resultMap type="org.kosta.finalproject.lego.vo.MasterVO" id="masterResult">
   	<result column="image_name" property="imageVO.imageName"/>
   	<result column="score" property="reviewVO.score"/>
   	<result column="category_no" property="category.categoryNo"/>
   </resultMap>
   <select id="findMasterList" resultType="org.kosta.finalproject.lego.vo.MasterVO" resultMap="masterResult">
   		select m.id,m.name, ms.career, ms.specifications ,msd.score , i.image_name
		from(
		select  distinct m.id ,nvl(round(avg(r.score)),0) as score
		from master_detail m , review r
		group by m.id, m.days_id, m.skills_id, m.times_id
		having 
		<foreach collection="skills" item="sk" open=" " close=" " separator=" or ">
			m.skills_id =#{sk}
		</foreach>
		<foreach collection="days" item="d" open=" or " close=" " separator=" or ">
		 m.days_id = #{d}
		 </foreach>
		 <foreach collection="times" item="ti" open=" or " close=" " separator=" or ">
		  m.times_id = #{ti}
		 </foreach> 
		  ) msd , member m, master ms, images i 
		where m.id = ms.id and m.id=msd.id and m.id = i.id and ms.category_no =#{categoryNo}
   </select>
   
   <select id="findMasterList2" resultType="org.kosta.finalproject.lego.vo.MasterVO" resultMap="masterResult">
   		select msd.id, m.name , ms.career, ms.specifications,category_no, msd.score , i.image_name
		from(
			select  distinct m.id ,nvl(round(avg(r.score)),0) as score
		from master m, review r
		group by m.id
		having 
		<foreach collection="id" item="id" open=" " close=" " separator=" or ">
			m.id =#{id}
		</foreach>
		) msd, member m, master ms, images i 
		where m.id = ms.id and m.id = msd.id and m.id = i.id and category_no = #{categoryNo}
   </select>
   	<select id="findMasterDetailList" resultType="org.kosta.finalproject.lego.vo.MasterVO" resultMap="masterResult">
   		select ms.id,ms.career,ms.category_no,ms.specifications, m.name ,i.image_name
   		from master ms, member m, images i
   		where m.id=ms.id and m.id=i.id and ms.id =#{value}
   </select>
   
   <select id="findBookingDayByMasterId" resultType="org.kosta.finalproject.lego.vo.BookingVO">
   		select to_char(booking_day,'yyyy-fmmm-dd') as booking_day
		from booking
		where master_id = #{value}
   </select>
   
   <insert id="BookingToMaster" parameterType="org.kosta.finalproject.lego.vo.BookingVO">
   	insert into booking(booking_no,booking_content,booking_day,master_id,member_id) values(booking_no_seq.nextval,#{bookingContent},#{bookingDay},#{mdVO.id},#{mvo.id})
   
   </insert>
   
   <select id="findMasterByKeyword" parameterType="org.kosta.finalproject.lego.vo.MasterVO" resultMap="masterResult">
   		select m.id,m.name, ms.career, ms.specifications ,msd.score , i.image_name , c.category_no
		from(
		select  distinct m.id ,nvl(round(avg(r.score)),0) as score
		from master_detail m , review r , skills s 
		group by m.id,m.skills_id,s.skills_id,s.skills
		having 

			m.skills_id = s.skills_id and s.skills = #{keyword}
		  ) msd , member m, master ms, images i , category c 
		where m.id = ms.id and m.id=msd.id and m.id = i.id and ms.category_no =c.category_no
   		and c.lesson_sort = #{keyword1}
   </select>
</mapper>