<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/member-layout}">
<!--/* layout 선언부 추가 */-->



<div layout:fragment="main">
	

					
					
					<ul class="list-inline dashboard-menu text-center">
						<li><a href="dashboard.html" th:href="@{/mypage}">회원정보</a></li>
						<li><a  href="order.html"
							th:href="@{/mypage-cart}">찜목록</a></li>
						<li><a th:href="@{/mypage-wrote}">내가 쓴 글</a></li>
						<li><a th:href="@{/mypage-booking}">내 상담목록</a></li>
						<li><a class="active" th:href="@{/mypage-message}">메세지함</a></li>
					</ul>
					
					
					<div class="messge-list">
					<h2 class="no-result no-message" th:if="${messageList.size()}==0">보낸 메세지가 없습니다
						<br> 고수님을 찾아 메세지를 보내보세요!
						<span><i class='far fa-sad-cry' style='font-size:24px'></i></span>
					</h2>
						<div th:each="message:${messageList}">
							<div>
								<a th:href="@{/message-detail(receiveId=${message.reMvo.id},receiveName=${message.reMvo.name})}">
									<img class="media-object message-img" th:src="${message.imageVo.imageName}" alt="Image" align="bottom"> 
									<span th:text="|${message.reMvo.name}님|">바보</span>

								</a>
							</div>
						</div>
					</div>
					
					


</div>