<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!-- Start Top Header Bar -->
	<section class="top-header"  th:fragment="headerFragment">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12 col-sm-4">
					<div class="header-logo">
						<a th:href="@{/}">
							<img alt="" src="./images/lego_logo.png">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-xs-12 col-sm-4 header-setting header-search">
					<!--검색창 -->
									<form action="get" th:action="@{/searchKeyword}">
										<input type="search" class="form-control"
											placeholder="원하는 레슨의 분야를 검색해주세요!" name="keyword">
											<button type="submit"> 검색</button>
									</form>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 header-setting header-button">
					<!-- Cart -->
					<form action="" th:action="@{/QnAList}">
					<button type="submit"> QnA</button>
					</form>
					<form action="" th:action="@{/mypage}" sec:authorize="hasRole('ROLE_MEMBER')">
						<button>마이페이지</button>
					</form>
					<form action="" th:action="@{/mastermypage}" sec:authorize="hasRole('ROLE_MASTER')">
						<button>고수 마이페이지</button>
					</form>
					<form action="" th:action="@{/registerForm}" sec:authorize="!isAuthenticated()">
					<button type="submit" >회원가입</button>
					</form>
					<form action="" th:action="@{/loginForm}" sec:authorize="!isAuthenticated()">
					<button type="submit" >로그인</button >
					</form>
					<form action="" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
					<button type="submit">로그아웃</button>
					</form>
					<!-- / .nav .navbar-nav .navbar-right -->
				</div>
			</div>
		</div>
	</section>
</html>
	<!-- End Top Header Bar -->