<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">글수정</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">community udpate</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="user-dashboard page-wrapper">
		  <div class="container">
			<form method="post"  id="Update" th:action="@{board-update(boardNo=${bvo.boardNo})}">
			<input type="hidden" name = "pageNo">
				<table class="table">
					<tr>
						<td>
							<select class="col-sm-2"  id="categoryNo" name="categoryNo" >
									<option value="">게시판을 선택해주세요.</option>
									<option value="1" th:selected="${bvo.bcvo.categoryNo}==1"> 꿀팁</option>
								    <option  value="2" th:selected="${bvo.bcvo.categoryNo}==2">추천</option>
								    <option value="3" th:selected="${bvo.bcvo.categoryNo}==3">나눔</option>			
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<input class="col-sm-12" type="text" name="boardTitle" placeholder="글제목" th:value="${bvo.boardTitle}" required="required">
						</td>
					</tr>
					<tr>
						<td >
							<textarea name="boardContent" class="boardTextarea"  id="reviewContent" placeholder="본문내용" required="required" th:text="${bvo.boardContent}" ></textarea>
						</td>
					</tr>
				</table>
			
		
			<div class="text-center">
				<button type="button" class=" boardBtn btn btn-success" onclick="check()">확인</button>
				<button type="reset" class="boardBtn btn btn-success">취소</button>
			</div>
			
			</form>
		</div>
	</section>
	
	<script type="text/javascript">
	function check() {
		if (document.getElementById("categoryNo").value == "") {
			alert("카테고리를 선택해 주세요");
			return;
		} else {
			document.getElementById("Update").submit();
		}
	}
</script>
</div>
</html>