<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">글상세보기</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">community detail</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<section class="user-dashboard page-wrapper">
	  <div class="container">
	  		<div class="detail-header">
				<h3 style='margin-left: 20px;' class="title-detail" th:text="${bvo.boardTitle}" >제목</h3>
				<span  sec:authorize="hasRole('ROLE_MASTER')" th:if="${mvo.id}==${bvo.mvo.id}">
					<a class="myWriteIcon" th:href="@{/mastermypage-cart}">
						<i class='fas fa-edit' style='font-size:18px'></i> 내가 쓴 글목록 
					</a>
				</span>
			
					<span sec:authorize="hasRole('ROLE_MEMBER')" th:if="${mvo.id}==${bvo.mvo.id}">
						<a class="myWriteIcon"  th:href="@{/mypage-wrote}">
							<i class='fas fa-edit' style='font-size:18px'></i> 내가 쓴 글목록 
						</a>
					</span>
				</div>
				<hr>
				<ul class="info" style='display: flex; justify-content: flex-end;'>
					<li style='margin-right: 20px;'>작성자 : <span th:text="${bvo.mvo.name}" ></span></li>
					<li style='margin-right: 20px;'>작성일 : <span th:text="${bvo.boardDate}"></span></li>
					<li style='margin-right: 20px;'>조회수 : <span th:text="${bvo.hits}"></span></li>
					<li>
						<a th:href="@{/returnList(boardNo=${bvo.boardNo},categoryNo=${categoryNo},pageNo=${nowPage})}">
							<i class='fas fa-list'></i> 해당목록 
						</a>
					</li>
						
					
					
				</ul>
				
				<div class="content">
					<pre  class="boardTextarea" style='height: 300px; background-color:#fff; border:1px solid lightgray;' th:text="${bvo.boardContent}">본문내용</pre>
				</div>
			
				<!--/*  수정과 삭제를 위한 부분 */-->

				<form id="updateForm" th:action="@{/updateForm}" method="get">			
					<input type="hidden" name="boardNo" th:value="${bvo.boardNo}">
					<input type="hidden" name="categoryNo" th:value="${bvo.bcvo.categoryNo}"> 
				</form>
				 <form id="deleteForm" th:action="@{/deleteForm}" method="post">			
					<input type="hidden" name="boardNo" th:value="${bvo.boardNo}">
					<input type="hidden" name="categoryNo" th:value="${bvo.bcvo.categoryNo}">
				</form>
				
				<div class="text-center space-top" th:if="${mvo.id}==${bvo.mvo.id}" >
					<button type="button" class="boardBtn btn btn-success" onclick="updatePost()">수정</button>
					<button type="button"  class="boardBtn btn btn-success" onclick="deletePost()" >삭제</button>
					
				</div>
				<div class="text-center space-top" sec:authorize="hasRole('ROLE_ADMIN')" >
					<button type="button"  class="boardBtn btn btn-success" onclick="deletePost()" >삭제</button>
					
				</div>
				

			<!-- 댓글과 좋아요 -->
			<div class="commentAndLikes">
				<span class=commentName>댓글</span>
						<div class="thumbs">
						<span >
						
							<th:block th:if="${#lists.contains(session.LikesUpList,bvo.boardNo)}">
							<th:block th:if="${!#lists.contains(session.LikesUpList,bvo.boardNo)}">
										<a th:href="@{/likesUp(boardNo=${bvo.boardNo},categoryNo=${categoryNo})}">
											<i class="fa fa-thumbs-o-up" style="font-size:24px"></i>
										</a> 
										<span th:text="${bvo.likes}"></span>										
							</th:block>
							<th:block th:if="${!#lists.contains(session.LikesDownList,bvo.boardNo)}">
										<a  th:href="@{/likesDown(boardNo=${bvo.boardNo},categoryNo=${categoryNo})}">									
											<i class="fa fa-thumbs-up" style="font-size:30px; color:red;"></i>
										</a>
										<span th:text="${bvo.likes}"></span>		
							</th:block>
							</th:block>
							<th:block th:if="${!#lists.contains(session.LikesUpList,bvo.boardNo)}">
								<a th:href="@{/likesUp(boardNo=${bvo.boardNo},categoryNo=${categoryNo})}">
											<i class="fa fa-thumbs-o-up" style="font-size:30px"></i>
										</a> <span th:text="${bvo.likes}"></span>		
							</th:block>
						</span>
						</div>
		</div>
			
			
			
			<hr>
			<div class="content">
				<form class="commentPost" id="compostForm" action="" th:action="@{/CommentWrite}" method="post">
					<input type="hidden" name="categoryNo" th:value="${categoryNo}">
					<input type="hidden" name="boardNo" th:value="${bvo.boardNo}">
					<input class="comment-wrtie-form commentWriteForm col-md-10" type="text" id="commentContent" name="commentContent" placeholder="댓글을 입력하세요">
					<button class="boardBtn commentBtn col-md-1 btn" type="submit" onclick="compost()">작성</button>
				</form> 
				
				<table class="table table-comment">
					<tbody class="up-space">
						 <tr th:each="comList:${commentList}">
		                 	<td class="col-md-6"  th:text="${comList.commentContent}"></td>
		                 	<td class="col-md-2"  th:text="${comList.commentDate} "></td>
		                 	<td class="col-md-1"  th:text="${comList.mvo.name} "></td>
		            		 <td class="col-md-1">
		            		 
			            	 
				            	<a  th:href="@{/surveyFindMasterById(masterId=${comList.mvo.id})}" sec:authorize="hasRole('ROLE_MEMBER')" >
				            		<span class="checkMaster" th:text="|고수님|" th:if="${#strings.contains(comList.authority.authority, 'ROLE_MASTER')}"></span>
				            	</a>  
				            	<a type="submit" onclick="javascript:btn()">
			            		<span class="checkMaster" th:text="|고수님|" sec:authorize="hasRole('ROLE_MASTER')" th:if="${#strings.contains(comList.Authority.authority, 'MASTER')}"> </span>
			            		</a>
		            		 </td> 

		            		<!--/* mvo와 고수체크 -> 한번에 합치기 :  <td class="col-md-2"  th:text="|${comList.mvo.name} 고수| " th:if="${#strings.contains(comList.Authority.authority, 'MASTER')}"></td> */--> 
		            		
		                 	<td class="col-md-1" >
		                 		<form th:action="@{/CommentDelete}" method="post" th:if="${mvo.id}==${comList.mvo.id}">
			                 			<input type="hidden" name="commentNo" th:value="${comList.commentNo}">
										<input type="hidden" name="categoryNo" th:value="${categoryNo}"> 
										<input type="hidden" name="boardNo" th:value="${bvo.boardNo}">
										 <button class="boardBtnDelete" type="submit" onclick="comdeletepost()">삭제</button>
		                 		</form>
		                 	</td>
			            </tr>
		             </tbody>
				</table>
			</div>
		
		</div>
		</section>
		
		<script type="text/javascript">

		function updatePost(){
			//confirm 함수는 확인 누를때 true를 반환 
			if(confirm("수정하시겠습니까?")){
				document.getElementById("updateForm").submit();
			}
		}
		
		function deletePost(){
			//confirm 함수는 확인 누를때 true를 반환 
			if(confirm("삭제하시겠습니까?")){
				document.getElementById("deleteForm").submit();
			}
		}
		
		function compost() {
			if (document.getElementById("commentContent").value == "") {
				alert("댓글을 입력하세요");
				return;
			} else {
				document.getElementById("compostForm").submit();
			}
		}
		
		function btn(){
			alert("고수정보는 일반회원으로만 확인이 가능합니다.");
		/* 	if(confirm("고수정보는 일반회원으로만 확인이 가능합니다. \n 일반회원으로 로그인하시겠습니까?")){
				document.getElementById("loginForm").submit();
			} */
		}

	
		</script>
	</div>
</html>