<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* layout 선언부 추가 */-->

<div layout:fragment="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">커뮤니티 게시판</h1>
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">community search</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<div class="searchTop">
	        <h2 class="search-keyword" th:if="${keyword.size()}>0" th:text="|' ${searchKeyword} ' 에 대한 검색 결과입니다|"></h2>
	        <h2  th:unless="${keyword.size()}>0"  th:text="|'${searchKeyword} ' 에 대한 검색 결과가 없습니다|"></h2>
 			<a class="returnPage"  th:href="@{goCommunity?categoryNo=1}"><i class="fa fa-reply" style="font-size:15px"></i>  커뮤니티 리스트</a>
        </div>
        
        <div class="communityBoard dashboard-wrapper user-dashboard searchTable">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">No.</th>
                  <th class="col-md-5 text-center">제목</th>
                  <th class="col-md-1 text-center">작성자</th>
                  <th class="col-md-1 text-center">조회수</th>
                  <th class="col-md-1 text-center">좋아요</th>
                </tr>
              </thead>
              <tbody >
                <tr th:each="list:${keyword}">
                  <td class="text-center"> <a href="" th:text=${list.boardNo}>No부분</a></td>
                  <td class="text-center"> <a class="board-list" th:href="@{/board-detail(boardNo=${list.boardNo},categoryNo=${list.bcvo.categoryNo})}" th:text=${list.boardTitle} >제목부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.mvo.name}>작성자부분</a></td>
                  <td class="text-center"> <a href="" th:text=${list.hits}>조회수부분</a></td>
                  <td class="text-center"> <i class="fa fa-thumbs-o-up"></i> <a href="" th:text=${list.likes}>좋아요부분</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="pagination-box">
    		
	    	<ul class="pagination-wrap" th:if="${keyword.size()}>0"> 
	          <th:block th:if ="${pagination.previousPageGroup }">
	    		 <li class="page-item" >
	    		 		<a class="page-link" th:href="@{/searchBoardKeyword(pageNo=${pagination.startPageOfPageGroup-1},keyword=${searchKeyword})}" th:text="|이전|">Previous</a>
	    		 </li> 
	     	 </th:block>
	    
	 		 <th:block th:each="pageNo:${#numbers.sequence(pagination.startPageOfPageGroup,pagination.endPageOfPageGroup)}">
			 		<th:block th:if="${pageNo==pagination.nowPage}">
			 			<li class="page-item active">
			 				<a class="page-link" th:href="@{/searchBoardKeyword(pageNo=${pageNo},keyword=${searchKeyword})}" th:text="${pageNo}"></a>
			 			</li>
			    	</th:block>
			    	
			    	<th:block th:if="${pageNo!=pagination.nowPage}">
			    		 <li class="page-item">
			    		 	<a class="page-link" th:href="@{/searchBoardKeyword(pageNo=${pageNo},keyword=${searchKeyword})}" th:text="${pageNo}"></a>
			    		 </li>
			    	</th:block>
	   		</th:block>
	    
	     	 <th:block th:if ="${pagination.nextPageGroup}">
	    			 <li class="page-item" >
	    			 		<a class="page-link" th:href="@{/searchBoardKeyword(pageNo=${pagination.endPageOfPageGroup+1},keyword=${searchKeyword})}" th:text="|다음|"></a>
	    			 </li> 
	      	</th:block>
	    </ul>
    </div>
  </div>
  </section>
  </div>
  </html>